@charset "UTF-8";
@font-face {
  font-family: "rounded-mplus-1c";
  src: url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-regular.eot") format("eot"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-regular.eot.woff") format("woff"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-regular.eot.ttf") format("truetype"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-medium.eot") format("eot"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-medium.eot.woff") format("woff"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-medium.eot.ttf") format("truetype"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-light.eot") format("eot"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-light.eot.woff") format("woff"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-light.eot.ttf") format("truetype"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-bold.eot") format("eot"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-bold.eot.woff") format("woff"), url("https://dogcat-clear.com/assets/font/rounded-mplus-1c/rounded-mplus-1c-bold.eot.ttf") format("truetype");
}
html {
  touch-action: manipulation;
}

body {
  width: 100%;
  letter-spacing: 1px;
  font-family: "rounded-mplus-1c-regular", "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

h1, h2, h3, h4, ul, li, p, div, section, aside, article, a, body, p, dl, dt, dd, ol, button {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

.mt20 {
  margin-top: 20px;
}

.pc_fs12 {
  font-size: 12px;
}

.col_orange {
  color: #ffb544;
}

.top_header {
  width: 100%;
  height: 650px;
  background: #f5c3d3;
  border-bottom-right-radius: 1000px 150px;
  border-bottom-left-radius: 1000px 150px;
}
.top_header nav {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
.top_header nav ul {
  display: flex;
  gap: 30px;
}
.top_fv {
  margin-top: 60px;
}
.top_ttl {
  margin-top: 60px;
  font-size: 25px;
  text-align: center;
}

.max_1100 {
  margin: auto;
  max-width: 1100px;
}

.article {
  margin: 30px auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
}

.nav {
  padding: 30px;
  margin-top: 50px;
  background: #f5c3d3;
}
.nav h2 {
  text-align: center;
}
.nav .usage_nav {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
  justify-items: center;
}
.nav .usage_nav li {
  width: 100%;
  background: #fff;
}
.nav .usage_nav li a {
  padding: 10px 0 10px 15px;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.nav .usage_nav li a::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 16px;
  right: 15px;
  border-top: 4px solid;
  border-right: 4px solid;
  transform: rotate(45deg);
  border-radius: 3px;
}
.nav .usage_nav li a:hover {
  transition: 0.3s;
  color: #fff;
}
.nav .usage_nav li:hover {
  margin-left: 15px;
  transition: 0.3s;
  background: #eb739a;
  color: #fff;
}

.campaign {
  margin: 120px auto 0;
}
.campaign_bnr {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.campaign_bnr li {
  padding: 30px 0;
  width: 1100px;
  background: #f5c3d3;
  text-align: center;
}
.recommend {
  margin: 20px auto;
  overflow: hidden;
}
.recommend .slider {
  width: 130%;
  transform: translate3d(-12%, 10px, 10px);
}
.recommend .slick-slide {
  margin: 0 8px;
  padding: 15px 15px 25px;
  background: #e3f2ff;
}
.recommend .slick-slide span {
  margin-top: 10px;
  display: block;
}

.approach {
  margin-top: 100px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.approach_news {
  padding: 25px 25px 40px;
  background: #e3f2ff;
}
.approach_news h2 {
  padding: 5px 25px;
  display: inline-block;
  background: #6cbaff;
  box-shadow: 5px 5px 0 #005eb2;
  color: #fff;
}
.approach_news ul {
  margin-top: 25px;
}
.approach_news ul li {
  margin-top: 15px;
}
.approach_news ul li a {
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}
.approach_voice {
  padding: 25px 25px 40px;
  background: #f5c3d3;
}
.approach_voice h2 {
  padding: 5px 25px;
  display: inline-block;
  background: #eb739a;
  box-shadow: 5px 5px 0 #c2003d;
  color: #fff;
}
.approach_voice ul {
  margin-top: 25px;
}
.approach_voice ul li {
  margin-top: 15px;
}
.approach_voice ul li a {
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.single_main {
  margin: 80px auto;
  width: 1000px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 0.3fr;
}
.single_main .blog-detail__title {
  margin-bottom: 40px;
  padding: 10px 20px;
  font-size: 38px;
  background: #fff2f6;
  border-left: 20px solid #eb739a;
}
.side {
  background: #e3f2ff;
}

.wpsbc-container thead tr th {
  padding: 5px;
  background: rgb(228, 228, 228);
}
.wpsbc-container thead tr th:nth-child(6) {
  color: #449fee;
}
.wpsbc-container thead tr th:nth-child(7) {
  color: #ee4444;
}
.wpsbc-container tbody {
  background: #fff;
}
.wpsbc-container select {
  display: none;
}
.wpsbc-container .wpsbc-date {
  text-align: center;
}
.wpsbc-container .wpsbc-legend-item-1 {
  border: 1px solid;
}
.wpsbc-container .wpsbc-legend-item-2 {
  background: #ffb544;
  color: red;
  border: 1px solid #fe6400;
}
.wpsbc-container .wpsbc-date-inner {
  padding: 5px;
}
.wpsbc-container .wpsbc-date-number {
  font-weight: bold;
}

.common_sec {
  margin-top: 100px;
}

.footer_link {
  margin: 60px auto 0;
  padding: 30px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 75%;
  justify-items: center;
  border: 13px double #f5c3d3;
}
.footer_link h3 {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
.footer_link h3::before {
  position: absolute;
  content: "■";
  left: -20px;
  color: #eb739a;
}
.footer_list li {
  margin-top: 5px;
  padding-left: 3px;
  position: relative;
  font-size: 12px;
}
.footer_list li::before {
  position: absolute;
  content: "●";
  left: -10px;
  top: 2px;
  font-size: 10px;
  color: #eb739a;
}
.footer_list li a:hover {
  color: #eb739a;
}
.footer_list_inner li {
  padding-left: 15px;
  position: relative;
}
.footer_list_inner li::before {
  position: absolute;
  content: "├";
  left: 0px;
  top: 0;
  font-size: 12px;
  color: #eb739a;
}
.footer_list_inner li:last-child::before {
  position: absolute;
  content: "└";
  left: 0px;
  top: 0;
  font-size: 12px;
  color: #eb739a;
}
.footer .order_sec {
  margin-top: 30px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #fff2f6;
}
.footer .order_sec h3 {
  padding: 5px 30px;
  width: 60%;
  box-shadow: 5px 5px 0;
  font-size: 14px;
  background: white;
  border: 2px solid;
  text-align: center;
}
.footer .order_sec_list {
  margin-top: 20px;
}
.footer .order_sec_list li {
  margin-top: 15px;
  padding-left: 25px;
  position: relative;
  font-size: 14px;
}
.footer .order_sec_list li::before {
  position: absolute;
  content: "■";
  color: #eb739a;
  left: 8px;
}
.footer .order_sec_list .tel_icon {
  margin-right: 5px;
  width: 25px;
}
.footer .order_sec_list_tel {
  margin-top: 5px;
  display: flex;
  font-size: 16px;
  align-items: center;
  color: #eb739a;
  font-family: monospace;
}
.footer .order_sec_list_inner {
  width: 50%;
}
.footer .order_sec_list_inner li {
  margin-top: 5px;
  padding-left: 5px;
  border-bottom: 2px solid #eb739a;
}
.footer .order_sec_list_inner li::before {
  content: "";
  font-size: 12px;
}
.footer .order_sec_link {
  color: #005eb2;
  font-size: 12px;
}
.footer .order_sec .shop_dl {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}
.footer .order_sec .delivery {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  font-size: 12px;
}
.footer .order_sec .delivery dt {
  padding-left: 25px;
  position: relative;
}
.footer .order_sec .delivery dt::before {
  position: absolute;
  content: "●";
  left: 10px;
  color: #eb739a;
}
.footer .order_sec .delivery_text {
  margin-top: 5px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: red;
}
.footer .order_sec .delivery_img {
  margin-top: 20px;
  width: 80%;
}
.footer_copylight {
  padding: 5px;
  background: #fff;
  text-align: center;
}

.post_list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: flex-start;
  justify-items: start;
}
.post_list dt {
  padding: 3px 5px;
  border-radius: 5px;
  font-weight: bold;
  background: #fff;
}
.post_list .post_pink {
  border: 3px solid #eb739a;
  color: #eb739a;
}
.post_list .post_green {
  border: 3px solid #72AF2C;
  color: #72AF2C;
}
.post_list dd {
  font-size: 12px;
}

.calendar_month {
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */